<!DOCTYPE html>
<html style="font-size: 62.5%;">
	<meta name="keywords" content="钉铆知识产权代理服务有限公司">
	<meta name="description" content="钉铆知识产权代理服务有限公司">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=0" name="viewport">
	<title>钉铆知识产权代理服务有限公司</title>
	
	<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="../../stylesheets/common.css" />
	<link rel="stylesheet" href="../../stylesheets/style.css" />
	<link rel="stylesheet" href="../../stylesheets/swiper2.css" />
	<link rel="stylesheet" href="../../stylesheets/picture_hover.css" type="text/css" />
	<link rel="stylesheet" href="../../stylesheets/layer.css" id="layui_layer_skinlayercss" style="" />
	
	<script>if (false && document.documentMode === 10)
				document.documentElement.className += ' ie10';</script>
	<script>if (false && document.documentMode === 11)
				document.documentElement.className += ' ie11';</script>
	<!--[if lt IE 9]>
	<script src="/js/respond.src.js"></script>
	<script src="/js/html5.js"></script>
	<![endif]-->
	<script type="text/javascript" src="../../js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="../../js/ratio-img.js"></script>
	<script src="../../js/placeholder.js"></script>
	<script type="text/javascript" src="../../js/public.js"></script>
	<script src="../../js/swiper2.js"></script>
	<script src="../../js/swiper_list.js"></script>
	<script src="../../js/jquery.qrcode.min.js"></script>
	<script src="../../js/layer.js"></script>
	<script src="../../js/template.js"></script>
	
	<body style="" cz-shortcut-listen="true">
		
		<div class="body-box" style="height: auto;">
			
			<header class="header">
				<div class="wrap">
					<div class="nav-box cf">
						<div class="nav cf f-16">
							<div class="logo fl">
								<a href="index">
								<img src="../../images/logo_top.png" alt=""></a>
							</div>
							<ul class="cf nav-list">
								<li>
									<span>&nbsp;</span>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="index" data-hover="首页">首页</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="scope" data-hover="业务范围">业务范围</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="news" data-hover="新闻公告">新闻公告</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="partner" data-hover="合作伙伴">合作伙伴</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="recent" data-hover="企业动态">企业动态</a>
									</div>
								</li>
								<li  class="on">
										<a href="classic" data-hover="代表案件">代表案件</a>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="about" data-hover="关于我们">关于我们</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="contact" data-hover="联系我们">联系我们</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="line"></div>
			</header>
			
			<div class="m-header">
				<div class="ph-nav-box">
					<div class="ph-nav">
						<div class="mobile-inner-nav cl-effect cl-effect-1" style="display: block;">
							<a href="index" style="animation-delay: 0s;"	data-hover="首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
							<a href="scope" style="animation-delay: 0.1s;" 	data-hover="业务范围">业务范围</a>
							<a href="news" style="animation-delay: 0.2s;"	data-hover="新闻公告">新闻公告</a>
							<a href="partner" style="animation-delay: 0.2s;"	data-hover="合作伙伴">合作伙伴</a>
							<a href="recent" style="animation-delay: 0.3s;"	data-hover="企业动态">企业动态</a>
							<a href="classic" style="animation-delay: 0.4s;"	data-hover="代表案件">代表案件</a>
							<a href="about" style="animation-delay: 0.5s;"	data-hover="关于我们">关于我们</a>
							<a href="contact" style="animation-delay: 0.5s;"	data-hover="联系我们">联系我们</a>
						</div>
					</div>
				</div>

				<div class="menu-bon"></div>
			</div>
		
			<section class="main">
				
				<div class="ind-5">
					<div class="wrap pt-100">
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">代表案件</span>
							</p>
						</div>
						<div class="or-spacer">
						    <div class="mask"></div>
						</div>
						<div class="ind-7-list f-18" >
							<ul class="cf pd4">
								<li th:each="classic:${classicList}">
									<a href="#" th:href="@{/classic/detail?(id=${classic.id})}" class="bk">
										<dl class="cf">
											<dt class="fr" th:text="${#dates.format(classic.release_time, 'yyyy-MM-dd HH:mm')}">0000-00-00</dt>
											<dd class="oh ellipsis" th:text="${classic.title}">
												代表案件
											</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</section>
			<hr class="split"/>
			<footer class="footer f-14">
				<div class="wrap">
					<div class="footer-nav cf">
						<dl class="first">
							<dt>
								<img alt="" src="../../images/logo_bottom.jpg" />
							</dt>
						</dl>
						<dl>
							<dt>
								<a href="http://127.0.0.1/index">业务范围</a>
							</dt>
							<dd>
								<a href="http://127.0.0.1/index">商标代理</a>
							</dd>
							<dd>
								<a href="http://127.0.0.1/index">专利代理</a>
							</dd>
							<dd>
								<a href="http://127.0.0.1/index">版权代理</a>
							</dd>
						</dl>
						<dl>
							<dt>
								<a href="http://127.0.0.1/index">新闻公告</a>
							</dt>
						</dl>

						<dl>
							<dt>
								<a href="http://127.0.0.1/index">企业动态</a>
							</dt>
						</dl>
						<dl>
							<dt>
								<a href="http://127.0.0.1/index">代表案件</a>
							</dt>
						</dl>
						<dl>
							<dt>
								<a href="http://127.0.0.1/index">关于我们</a>
							</dt>
							<dd>
								<a href="http://127.0.0.1/index">企业简介</a>
							</dd>
							<dd>
								<a href="http://127.0.0.1/index">企业荣誉</a>
							</dd>
						</dl>
						<dl class="last">
							<dt>
								<a href="http://127.0.0.1/index">联系我们</a>
							</dt>
						</dl>
					</div>
				</div>
				<hr class="split"/>
				<div class="footer-cr f-12 c666">
					<div class="wrap">
						<br/>
						Copyright © 2018-2019 钉铆知识产权代理服务有限公司 
						<br />
						<br />
						<a href="https://szcert.ebs.org.cn/5a204ab8-076c-44ad-97e0-775de4e5a278" target="_blank" style="color: #666">
							<img src="../../images/icon_gswj.gif" style="width:20px;height: 25px;" />
							豫ICP备********号
						</a>
						<br/>
						<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802023805" target="_blank" style="color: #666">
							<img src="../../images/icon_icp.png">
							豫公网安备**************号
						</a>
						<br/>
					</div>
				</div>
			</footer>

			<div>
				<a class="item-top">∧</a>
			</div>
		</div>
	</body>

</html>