<!DOCTYPE html>
<html style="font-size: 62.5%;">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="renderer" content="webkit">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1,user-scalable=0" name="viewport">
		
		<meta name="keywords" content="商标,商标注册,知识产权,钉铆,新乡">
		<meta name="description" content="河南钉铆知识产权代理有限公司">
		
		<title>河南钉铆知识产权代理有限公司 - 钉心铆意 至尽至极</title>
		
		<link rel="icon" href="../../images/favicon.ico" type="image/x-icon" />
		<link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="../../stylesheets/common.css" />
		<link rel="stylesheet" href="../../stylesheets/style.css" />
		<link rel="stylesheet" href="../../stylesheets/swiper2.css" />
		<link rel="stylesheet" href="../../stylesheets/picture_hover.css" type="text/css" />
		<link rel="stylesheet" href="../../stylesheets/layer.css" id="layui_layer_skinlayercss" style="" />
		
		<script>if (false && document.documentMode === 10)
					document.documentElement.className += ' ie10';</script>
		<script>if (false && document.documentMode === 11)
					document.documentElement.className += ' ie11';</script>
		<!--[if lt IE 9]>
		<script src="/js/respond.src.js"></script>
		<script src="/js/html5.js"></script>
		<![endif]-->
		
		<script src="../../js/jquery-1.9.1.min.js" type="text/javascript" ></script>
		<script src="../../js/background.js"></script>
		<script src="../../js/ratio-img.js" type="text/javascript" ></script>
		<script src="../../js/placeholder.js"></script>
		<script src="../../js/public.js" type="text/javascript" s></script>
		<script src="../../js/swiper2.js"></script>
		<script src="../../js/swiper_list.js"></script>
		<script src="../../js/jquery.qrcode.min.js"></script>
		<script src="../../js/layer.js"></script>
		<script src="../../js/template.js"></script>
		<script src="../../js/pager.js"></script>
		<script src="http://api.map.baidu.com/api?v=3.0&ak=KLQyMxZa4mK4TbdOGORG0aWpAyKcc7qC" type="text/javascript" ></script>
	</head>
	
	<body style="" cz-shortcut-listen="true">
		
		<div class="body-box" style="height: auto;">
			
			<header class="header">
				<div class="wrap">
					<div class="nav-box cf">
						<div class="nav cf f-16">
							<div class="logo fl">
								<a href="index">
								<img src="../../images/logo_top_red.png" alt=""></a>
							</div>
							<div class="logo fr">
								<a href="index">
								<img src="../../images/logo_top_eng.png" alt=""></a>
							</div>
							<ul class="cf nav-list">
								<li>
									<span>&nbsp;</span>
								</li>
								<li class="on">
										<a href="../../index" data-hover="首页">首页</a>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../scope" data-hover="业务范围">业务范围</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../news" data-hover="新闻公告">新闻公告</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../partner" data-hover="合作伙伴">合作伙伴</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../recent" data-hover="企业动态">企业动态</a>
									</div>
								</li>
								<li style="display:none;"> 
									<div class="cl-effect cl-effect-15">
										<a href="../../classic" data-hover="代表案件">代表案件</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../about" data-hover="关于我们">关于我们</a>
									</div>
								</li>
								<li>
									<div class="cl-effect cl-effect-15">
										<a href="../../contact" data-hover="联系我们">联系我们</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="line"></div>
			</header>
			
			<div class="m-header">
				<div class="ph-nav-box">
					<div class="ph-nav">
						<div class="mobile-inner-nav cl-effect cl-effect-1" style="display: block;">
							<a href="../../index" style="animation-delay: 0s;"	data-hover="首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页">首&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;页</a>
							<a href="../../scope" style="animation-delay: 0.1s;" 	data-hover="业务范围">业务范围</a>
							<a href="../../news" style="animation-delay: 0.2s;"	data-hover="新闻公告">新闻公告</a>
							<a href="../../partner" style="animation-delay: 0.2s;"	data-hover="合作伙伴">合作伙伴</a>
							<a href="../../recent" style="animation-delay: 0.3s;"	data-hover="企业动态">企业动态</a>
							<a style="display:none;" href="../../classic" style="animation-delay: 0.4s;"	data-hover="代表案件">代表案件</a>
							<a href="../../about" style="animation-delay: 0.5s;"	data-hover="关于我们">关于我们</a>
							<a href="../../contact" style="animation-delay: 0.5s;"	data-hover="联系我们">联系我们</a>
						</div>
					</div>
				</div>

				<div class="menu-bon"></div>
			</div>
		
			<section class="main">
				<div class="ind-baner swiper20">
					<div class="swiper-container ratio-img" data-ratio="0.4864583333333333" style="height: 903px;">
						<div class="swiper-wrapper" style="width: 9290px; transform: translate3d(-3716px, 0px, 0px); transition-duration: 0.8s; height: 903px;">
							<div class="swiper-slide" style="width: 1858px; height: 903px;">
								<a href="javascript:;" class="bk ind-ban-btn" style="width: 100%; height: 100%;">
									<img src="../../images/top01.jpg" class="ratio-img" data-ratio="0.4864583333333333" onerror="lod(this)" alt="" style="height: 903px;" />
									<div class="titletext shadow-orange" style="left: 1em;bottom: 2em;">钉心铆意</div>
									<div class="titletext shadow-orange" style="left: 5em;bottom: 0.5em;">至尽至极</div>
								</a>
	   						</div>
	   					</div>
						
						<div class="ind-ban-page">
							<span class="swiper-pagination-switch"></span>
							<span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span>
							<span class="swiper-pagination-switch"></span>
						</div>
					</div>
				</div>
				
				<div class="ind-2">
					<div class="wrap">
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">业务范围</span>
							</p>
						</div>
						<div class="or-spacer">
						    <div class="mask"></div>
						</div>
						<div class="ind-3-list">
							<ul class="cf pd4">
								<li th:each="scope,iterStat:${scopeList}" th:style="${'width:'+(100.00/iterStat.size)+'%;'}">
									<div class="content-box">
										<div class="img ratio-img" data-ratio="0.63" style="height: 233px;">
											<figure class="effect-julia">
												<img src="../../images/scope.jpg" alt="商标申请" class="ratio-img">
													<figcaption>
														<span th:text="${scope.type_name}"></span>
														<div>
															<p></p>
														</div>
														<a href="JavaScript:Void(0)" target='_blank'>更多</a>
													</figcaption>			
											</figure>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="ind-2">
					<div class="wrap">
						
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">新闻公告</span>
							</p>
						</div>
						
						<div class="or-spacer">
						    <div class="mask"></div>
						</div>
						
						<div class="ind-3-list">
							<ul class="cf pd4">
								<li th:each="news:${newsList}">
									<div class="content-box">
										<div class="img ratio-img" data-ratio="0.63" style="height: 233px;">
											<figure class="effect-ming">
												<img src="../../images/news01.png" alt="新闻" class="ratio-img">
													<figcaption>
														<h2 class="title13" th:text="${news.title}">标题</h2>
														<a href="#" th:href="@{/news/detail?(id=${news.id})}" target="_blank">详情</a>
													</figcaption>			
											</figure>
										</div>
									</div>
								</li>
							</ul>
						</div>
						
					</div>
				</div>

				<div class="ind-4" >
					<div class="wrap">
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">合作伙伴</span>
							</p>
						</div>
						<div class="ind-tit-ms f-18">
							<div class="or-spacer">
							    <div class="mask"></div>
							</div>
							<div class="ind-5-list">
								<ul class="cf pd4">
									<li th:each="partner:${partnerList}">
										<div class="content-box">
											<a href="#" th:href="@{${partner.detail}}" target="_blank" class="bk">
												<figure class="effect-apollo">
													<img src="#" th:src="@{${partner.imgsrc}}" alt="">
													<figcaption>
														<p th:text="${partner.title}"></p>
													</figcaption>			
												</figure>
											</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				
				<div class="ind-5" style="display:none;">
					<div class="wrap">
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">企业动态</span>
							</p>
						</div>
						<div class="or-spacer">
						    <div class="mask"></div>
						</div>
						<div class="f-18" >
							<ul class="cf pd4">
								<li th:each="recent:${recentList}">
									<a href="#" th:href="@{/recent/detail?(id=${recent.id})}" class="bk">
										<dl class="cf">
											
											<dt class="fr" th:text="${#dates.format(recent.release_time, 'yyyy-MM-dd HH:mm')}">0000-00-00</dt>
											<dd class="oh ellipsis" th:text="${recent.title}">
												企业动态
											</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
				<div class="ind-5" style="display:none;">
					<div class="wrap">
						<div class="ind-tit f-28 cf">
							<p>
								<span class="bk ellipsis">代表案件</span>
							</p>
						</div>
						<div class="or-spacer">
						    <div class="mask"></div>
						</div>
						<div class="f-18" >
							<ul class="cf pd4">
								<li th:each="classic:${classicList}">
									<a href="#" th:href="@{classic/detail?(id=${classic.id})}" class="bk">
										<dl class="cf">
											<dt class="fr" th:text="${#dates.format(classic.release_time, 'yyyy-MM-dd HH:mm')}">0000-00-00</dt>
											<dd class="oh ellipsis" th:text="${classic.title}">
												代表案件
											</dd>
										</dl>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				
			</section>
			<hr class="split"/>
			<footer class="footer f-16">
				<div class="wrap">
					<div class="footer-nav cf">
						<dl class="left">
							<dt>
								<a href="../../scope">业务范围</a>
							</dt>
							<dd>
								<a href="../../scope">商标代理</a>
							</dd>
							<dd>
								<a href="../../scope">专利代理</a>
							</dd>
							<dd>
								<a href="../../scope">版权代理</a>
							</dd>
						</dl>
						<dl class="left">
							<dt>
								<a href="../../news">新闻公告</a>
							</dt>
						</dl>
						<dl class="left">
							<dt>
								<a href="../../recent">企业动态</a>
							</dt>
						</dl>
						<dl class="left" style="display:none;">
							<dt>
								<a href="../../classic">代表案件</a>
							</dt>
						</dl>
						<dl class="left">
							<dt>
								<a href="../../about">关于我们</a>
							</dt>
							<dd>
								<a href="../../about">企业简介</a>
							</dd>
							<dd>
								<a href="../../about">企业荣誉</a>
							</dd>
						</dl>
						<dl class="left">
							<dt>
								<a href="../../contact">联系我们</a>
							</dt>
						</dl>
						<dl class="right">
							<dt>
								<div id="baiduMap"></div>
							</dt>
						</dl>
					</div>
				</div>
				<hr class="split"/>
				<div class="footer-cr f-12">
					<div class="wrap footer-bak">
						河南钉铆知识产权代理有限公司
						<br />
						河南省新乡市红旗区金穗大道新二街靖业公元国际1607
						<br />
						Copyright © 2018-2019
						<div>
		 					<a href="http://www.beian.miit.gov.cn/" target="_blank" >
								<img src="../../images/ico_gswj.png"/>
								<p>豫ICP备19003076号</p>
							</a>
							<a href="http://www.beian.gov.cn/portal/index.do" target="_blank">
		 						<img src="../../images/ico_icp.png"/>
		 						<p>豫公网安备 41070202000634号</p>
		 					</a>
		 				</div>
					</div>
				</div>
			</footer>

			
			<div class="tools">
				<ul class="tools-ul">
					<li class="tools-msg">
					  	<a class="item-msg" show-type="zoomIn">
					  		<img border="0" src="../../images/icon_msg_white.png" alt="留言咨询" title="留言咨询"/>
					  	</a>
						<div class="tools-tips tools-tips-always">留言</div>
					</li>
					<li class="tools-chat">
						<a class="item-chat" href="http://wpa.qq.com/msgrd?v=3&uin=582481323&site=qq&menu=yes" target="_blank">
							<img border="0" src="../../images/icon_chat_white.png" alt="在线咨询" title="在线咨询"/>
						</a>
						<div class="tools-tips tools-tips-always">咨询</div>
					</li>
					<li class="tools-top">
						<a class="item-top" >
							<img border="0" src="../../images/icon_top_white.png" alt="回到顶部" title="回到顶部"/>
						</a>
						<div class="tools-tips tools-tips-always">返回</div>
					</li>
				</ul>
			</div>
			
			<div class="box">
				<div id="dialogBg"></div>
				<form action="../../counsel" method="post" id="msgForm">
					<div id="dialog" class="animated">
						<div class="ind-8-list">
							<ul>
								<li>
									<div class="box2">
										<div class="d2">
											<p>留言咨询</p>
										</div>
								 		<div class="d3">
								 			<p><i class="icon w40x icon-profile" >&nbsp</i><input id="name" placeholder="姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名"></input></p>
								 			<p><i class="icon w40x icon-mobile" >&nbsp</i><input id="tel" placeholder="联系电话"></input></p>
								 			<p><i class="icon w40x icon-email" >&nbsp</i><input id="mail" placeholder="电子邮箱"></input></p>
										</div>
								 		<div class="d1">
								 			<p><textarea placeholder="请详细输入您想要咨询的问题" id="detail"></textarea></p> 
										</div>
									</div>
								</li>
								
								
							</ul>
						</div>
						<div class="dialogTop">
							<a href="javascript:void(0);" class="button submitFormButton">提交</a>
							<a href="javascript:void(0);" class="button closeDialogButton">取消</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
